body {
  padding: 0px;
  margin: 0px;
}

.titleformat{
  font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
  color: black;
}

.texformat{
  font-size: 16px;
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  font-style: normal;
  color: black;
}

@media (max-width: 768px) {
  .titleformat{
    font-size: 18px;
  }

  .texformat{
    font-size: 13px;
    line-height: 20px;
  }
}
/* ----------------------------seccion 2---------------------------- */
.seccion-1 {
  width: 100%;
  height: 90vh;
  background-image: url(IMG/nutritionbanner.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.seccion-1 > * {
  position: relative;
  z-index: 2;
}

.seccion-1 h1 {
  color: white;
  text-align: center;
  font-size: 46px;
}

.seccion-1 svg {
  position: absolute;
  bottom: -1px;
  left: 0px;
}

@media (max-width: 768px) {
  .seccion-1 {
    height: 80vh;
    align-items: center;
  }
  .seccion-1 h1 {
    margin-top: 0%;
    font-size: 30px;
  }
}

/* ----------------------------seccion 2---------------------------- */
.seccion-2 {
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
}
.container{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}
.one-content{
  width: 40%;
  height: 70vh;
  margin: 2%;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid black;  */
}

@keyframes breathingShadow {
  0% {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  50% {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px;
  }
  75% {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px;
  }
  100% {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
}

.subconten{
  width: 100%;
  height: auto;
  padding: 4%;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
  animation: breathingShadow 2s ease-in-out infinite; 
}

.icon-img {
  width: 70px;
  height: 70px;
  margin-right: 10px; 
}

/* ------------------------------------- */
.two-content {
  padding-left: 2%;
  width: 40%;
  height: 100%;
  margin: 2%;
}

.two-content button {
  margin-top: 5%;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: white;
  animation: breathingShadow 2s ease-in-out infinite
}


@media (max-width: 768px) {
  .container{
    flex-direction: column-reverse;
    align-items: center;
  }
  .one-content{
    width: 90%;
    height: auto;
  }
  .subconten{
    padding: 10px 5px 10px 5px;
    margin-bottom: 30px;
  }
  .two-content{
    width: 90%;
    margin-bottom: 20px;
  }
  .two-content p {
    text-align: justify;
    padding: 0px 10px;
  }

  .two-content button {
    padding: 8px 12px;
    margin-left: 10px;
    margin-top: 0%;
    font-size: 12px;
  }
}

/* ----------------------------seccion 2---------------------------- */
.seccion-3 {
  width: 100%;
  height: auto;
  padding: 100px 0px;
  /* border: 1px solid black; */
  align-content: center;
  text-align: center;
}

.seccion-3 p {
  text-align: center;
  padding: 0% 15%;
}

.seccion-3 button {
  margin-top: 2%;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  background-color: white;
  animation: breathingShadow 2s ease-in-out infinite
}

@media (max-width: 768px) {
  .seccion-3 {
    background-image: url(IMG/nutritionbanner.jpg);
    background-position: center;
    background-size: cover;
    padding: 50px 0px;
    text-align: start;
    position: relative;
  }
  .seccion-3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .seccion-3 > * {
    position: relative;
    z-index: 2;
  }
  .seccion-3 h2 {
    text-align: left;
    color: #fff;
    padding: 0px 20px;
  }

  .seccion-3 p {
    text-align: justify;
    color: #fff;
    padding: 0px 20px;
  }

  .seccion-3 button {
    padding: 8px 12px;
    margin-left: 20px;
  }
}